
.header{
              padding:19px;
              display:flex;
              justify-content: space-between;
            background-color: rgb(187, 64, 105);
            color:rgb(229, 204, 142)
        }
.footer{
            background-color: rgb(187, 64, 105);
            color:rgb(229, 204, 142)
 }
 .container{
        margin:1px;
        background-color: rgb(75, 143, 145);
            color:rgb(229, 204, 142);
 }
 .menu{
       display: flex;
 }
 .menu li{
       list-style:none;
       margin: 5px;
 }
 .menu li a{
       text-decoration:none;
       color:white;
 }
 